<h3>Produtos / Novo</h3>
<hr><br>
<form method="post">
    <label for="nome">Nome do Produto: </label>
    <input type="text" name="nome"/><br><br>
    <label for="valor">Valor do Produto: </label>
    <input type="number" name="valor" step="0.01"/><br><br>
<hr>
    <input type="submit" value="Enviar"/>
    <a href="/produtos"><input type="button" value="Cancelar"/></a>
</form>